@import url('./resets.css');

body {
    background-color: #884A39;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.game-menu {
    background-color: #F9E0BB;

    position: absolute;
    z-index: 999;
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    & #start-btn {
        background-color: #F9E0BB;
        color: #884A39;

        padding: 20px 30px;
        font-size: 2.75rem;
        font-weight: 400;
        border: none;
        border-radius: 20px;
        cursor: pointer;

        transition: transform 0.3s ease;
    }

    & #start-btn:hover {
        background-color: #884A39;
        color: #F9E0BB;
        transform: scale(1.025);
    }

}

.menu {
    color: #fff;

    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    align-items: center;
    cursor:default;
    height: 90px;
    width: 100%;
}

.menu div {
    background-color: #C38154;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 20px 8px;
    border-radius: 1.5rem;
}

.menu-time h2:nth-child(1),
.menu-score h2:nth-child(1) {
    color: #884A39;
    font-size: 2.75rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) { 
    font-size: 2.5rem;
    font-weight: 500;
    padding: 4px 0 0 10px;
}

.container {
    background-color: #F9E0BB;
    display: flex;
    flex-direction: row;
    align-items:last baseline;
    justify-content: center;
    width: fit-content;
    border-radius: 2.5rem;
    margin-top: 10px;
    gap: 2rem;
}

.panel {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    padding: 0 10px;
}

.square {
    box-shadow: inset 8px 8px 0 #884A39;
    border-radius: 2rem;
    height: 150px;
    width: 150px;
    margin: 24px 12px;
    cursor: pointer;

    filter: brightness(1.08) contrast(1.1);
    background-image: url('../../assets/img/digglet escondido.jpg');
    background-size: cover;
    background-position: -50px 0;
    background-repeat: no-repeat;
}

.enemy {
    filter: brightness(1) contrast(0.95);
    background-image: url('../../assets/img/digglet.gif');
    background-size: cover;
    background-position: -55px 0;
    background-repeat: no-repeat;
}

